@model Template.Mvc4.Models.Store

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Store</legend>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">ModifyDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.ModifyDate)</div>

    <div class="display-label">Products</div>
    <div class="display-field">@(Model.Products == null ? "None" : Model.Products.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


