body { margin-top: 50px;}
.subtitle-bar {
  h2 {
    float: left;
    display: inline;
  } 
  a {
    float: right;
    display: inline;
  }
}
.float-left { float: left; }
.float-right { float: right; }