.node-page ul.links, .breadcrumb, h2.page-header, #page-title.title, #sidebar-a
{
  display: none;
}
#precontent
{
  float: left;
}
#precontent .col-first.col
{
  float: left;
  width: 290px;
}
#precontent-first-region
{
  border: 1px solid black;
  width: 290px;
  height: 400px;
  overflow: hidden;
}
#precontent-first-region img
{
  width: 290px;
  height: 400px;
}
#precontent-second-region img
{
  width: 627px;
  height: 400px;
}
#precontent-seccond-region
{
  border: 1px solid green;
}
#content-inner
{
  width: 334px;
  padding: 0;
  clear: none;
  display: inline-block;
}
.rotating-banner .rb-slides
{
  width: 600px;
}
#block-system-main-menu .menu
{
  border-radius: 18px;
}
#block-system-main-menu a
{
  color: #fff;
  font-size: 150%;
  border-radius: 8px;
}
#preheader .col-first
{
  width: 140px;
}
#preheader .col-second
{
  width: auto;
  margin-top: 20px;
  float: right;
}
#datepicker div table
{
  height: 270px;
}
#datepicker div
{
  width: 300px;
}
#prefooter #prefooter-first-region h2
{
  left: -17px;
  position: relative;
  padding-left: 26px;
  width: 140px;
}
#prefooter #prefooter-first-region p
{
  padding-right: 90px;
}
#prefooter p
{
  padding-left: 12px;
}
#prefooter #prefooter-second-region h2
{
  width: 448px;
}
#prefooter #prefooter-second-region p
{
  padding-left: 22px;
}
