@model Template.Mvc4.Models.Product
@{
  ViewBag.Title = "Create Product";
}
@using (Html.BeginForm())
{
  @Html.ValidationSummary(true)
  <fieldset>
    <legend>Create Product</legend>
    @Html.Partial("_CreateOrEdit", Model)
    <div class="actions">
      <input type="submit" class="btn primary" value="Create" />
      @Html.ActionLink("Back to List", "Index", null, new { Class = "btn" })
    </div>
  </fieldset>
}
