@model Template.Mvc4.Models.Product
@{
  ViewBag.Title = "Edit Product";
}
@using (Html.BeginForm())
{
  @Html.ValidationSummary(true)
  <fieldset>
    <legend>Edit Product</legend>
    @Html.HiddenFor(model => model.Id)
    @Html.Partial("_CreateOrEdit", Model)
    <div class="actions">
      @Html.ActionLink("Back to List", "Index",null, new {Class="btn"})
      <button type="reset" class="btn">Cancel</button>
      <input type="submit" class="btn primary" value="Save" />
    </div>
    
  </fieldset>
}
<div>
  
</div>
