<!DOCTYPE html>
<html lang="en">

<head>
<title>Sample Gallery</title>
<style type="text/css">
#galleries, #photos {
	text-align: center;
	margin: auto;
	width: auto;
	overflow: hidden;
	padding: 10px 0;
	height: 100px;
}
#galleries img {
	display: inline-block;
	max-width: 200px;
	padding: 0 10px;
}
#photos {
	height: 25px;
	background: #ddd;
	-webkit-transition: top .5s linear;
	transition: top .25s linear;
}
#photos:hover {
	height: 125px;
	position: relative;
	top: -90px;
	-webkit-transition: top .5s linear;
	transition: top .25s linear;
}
#photos img {
	display: inline-block;
	max-width: 100px;
	padding: 0 10px;
	max-height: 30px;
}
.legend {
	background: #aaa;
	text-align: center;
}
body {
}
</style>
</head>

<body>

<div class="legend">
	<span>Photos</span>
	<div id="photos">
		<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
		<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
		<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
		<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
		<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
		<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
		<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
		<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
		<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
		<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
		<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
		<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
		<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
		<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
		<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
		<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
		<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
		<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
		<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
		<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
		<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
		<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
		<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
		<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
	</div>
</div><div class="legend">
<div id="galleries">
	<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
	<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
	<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
	<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
	<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
	<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
	<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
	<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
	<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
	<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
	<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
	<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
	<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
	<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
	<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
	<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
	<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
	<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
	<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
	<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
	<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
	<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
	<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">
	<img class="tag-image" src="http://farm1.staticflickr.com/31/51898473_e22ee83693_z.jpg?zz=1">


	GALLERIES</div>
</div>
</body>

</html>
