<div class="container">
  <div class="float-left">
    <p>
      &copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
  </div>
  <div class="float-right">
    <ul id="social">
      <li><a href="http://facebook.com" class="facebook">Facebook</a></li>
      <li><a href="http://twitter.com" class="twitter">Twitter</a></li>
    </ul>
  </div>
</div>
