<style id="liveStyles" type="text/css"></style>
<div id="less-panel">
  <div id="less-controls">
    <a href="http://lesscss.org" target="_blank">LessCSS.org</a>
    <button id="apply-style">
      Apply</button>
  </div>
  <div id="less-tab" style="background: #eee;">
    <textarea id="cssEditor" name="cssEditor" rows="5" cols="100">
   </textarea>
  </div>
</div>
<div>
  <script type="text/javascript">
    $(function () {
      var editor = CodeMirror.fromTextArea(document.getElementById("cssEditor"), {});

      $("#apply-style").click(function () {
        // Get editor text
        var editorText = editor.getValue();
        // Parse 
        less.Parser().parse(editorText, function (error, root) {
          if (!(error)) {
            // Convert to CSS
            var convertedCss = root.toCSS();
            // Apply css to window
            $("#liveStyles")[0].innerText = convertedCss;
          }
        });
      });

    });
  </script>
</div>
