@model IEnumerable<Template.Mvc4.Models.Task>
@{
  ViewBag.Title = "Index";
  ViewBag.Level = 0;
}
<h2>
  Index</h2>
<table>
  <tr>
    <th>
      Title
    </th>
    <th>
      TimeEntries
    </th>
    <th>
      SubTasks
    </th>
    <th>
    </th>
    <th>
      ModifyDate
    </th>
    <th>
      Id
    </th>
    <th>
      ParentId
    </th>
  </tr>
  @Html.Partial("_Tasks")
</table>
